h1 Crawlr
div#head
	p Currently listing '#{current}'
		form(method="post")
			input(type="Submit", value="Change")
div#wrap
	div#tree
		h2 Tree
		ul
			li
				a(href="..") ..
			- each val, key in dirs
				li
					a(href: val.name) #{val.name}
		

	div#files
		h2 Files
		table
			thead
				td Name
				td Size
				td Modified
			tbody!= partial('file', files)
div#footer
	p cryptix 2011
