a {
  color: #00B7FF;
}
#error {
  color: red;
}
html, body {
  color: white;
  background: black;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#head {
  clear: both;
  float: left;
  width: 100%;
  background: #444;
  border-bottom: 2px solid grey;
}
#wrap {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}
#tree {
  background: #666;
  float: left;
  position: relative;
  width: 250px;
  border-right: 2px solid grey;
}
#files {
  background: #888;
  float: left;
  width: 750px;
}
#footer {
  background: #444;
  clear: both;
  float: left;
}
