a {
  color: #00B7FF;
}
.error {
  color: #ff3311;
}
html, body {
  color: white;
  background: #995522;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#head {
  clear: both;
  float: left;
  width: 100%;
  padding: .5em;
  background: #664433;
  border-bottom: 2px solid #ff3311;
}
#head form {
  float: left;
}
#head div {
  float: right;
}
#wrap {
  background: #222;
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  padding: .5em;
  overflow: hidden;
}
#tree {
  background: #666;
  float: left;
  position: relative;
  width: 250px;
  border-right: 2px solid #ff3311;
}
#files {
  background: #888;
  float: left;
  width: 750px;
}
#footer {
  background: #664433;
  padding: .5em;
  clear: both;
  float: left;
}
