@brown: #952;
@dark:  #521;
@dull:  #643;
@red:   #f31;

@border: 2px solid @red;

a {
	color: #00B7FF;
}

.error {
	color: @red;
}

html, body {
	color: white;
	background: @brown;
	width: 85%;
	margin: 0 auto;	
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#head {
	clear: both;
	float: left;
	width: 100%;
	padding: .5em;
	background: @dull;
	border-bottom: @border;
}

#head form {
	float: left;
}

#head div  {
	float: right;
}

#wrap {
	background: #222;
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding: .5em;
	overflow: hidden;
}

#tree {
	background: #666;
	float: left;
	position: relative;
	width: 250px;
	border-right: @border;
}

#files {
	background: #888;
	float: left;
	width: 750px;
}

#footer {
	background: @dull;
	padding: .5em;
	clear: both;
	float: left;
}

