h1 Crawlr
div#head
	form(method="post", action="/setDir")#currentForm
		label(for="current") Specify Directory to crawl:
		input(type="text", id="current", name="current")
		button#change Change
div#footer
	p cryptix 2011
