h1 Crawlr
div#wrap
	div#head
		- if(message)
			div.message!=message	
		label(for:"cwd") Directory to crawl:
		input(type:"text", id:"cwd", name:"cwd")

		div#user
			p Hello #{user}
			a(href="/logout") Logout
	div#tree
		h2 Tree
		ul
	
	div#files
		h2 Files
		table
			thead
				td Name
				td Size
				td Modified
			tbody

	div#footer
		p cryptix 2011
