!!! 5
html(lang="en")
  head
    title Crawlr
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js")
    script(type='text/javascript', src='/crawlr.js')
  body!= body
