h1 Crawlr
div#head
	- if(message)
		div.message!=message
div#wrap
	div#login
		form(method='post', action='/login')
			p
				label(for='user') Username
				input(type='text', name='user')
			p
				label(for='pass') Password
				input(type='password', name='pass')
			input(type='submit', value='Login')
div#footer
	p cryptix 2011
