<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>Spine Layout Demo - Tabs</title>
    <style type='text/css' media='screen'>
.tabs {
  list-style: none;
  margin:0;
  padding: 0;
  overflow: hidden;
}

.tabs li {
  float: left;
  padding: 5px 10px;
}

.tabs li.active {
  border: 1px solid #000;
}

.views > *:not(.active) {
  display: none !important;
}
    </style>
  </head>
  <body>
    <div id='layout1'>
      <h1>Tabs Demo</h1>

      <ul class='tabs'>
        <li data-name='users'>UserzZ</li>
        <li data-name='groups'>GroupzZ</li>
        <li data-name='links'>LinkZz</li>
      </ul>
      <div class='views'>
        <div class='users'>
          <h3>Users</h3>
          <img src='http://lorempixum.com/g/300/300/'>
          <ol>
            <li>Rand</li>
            <li>Stuff</li>
            <li>Owner</li>
            <li>Opfer</li>
          </ol>
        </div>
        <div class='groups'>
          <h3>Groups</h3>
          <img src='http://lorempixum.com/g/400/200/'>
          <ul>
            <li>Other</li>
            <li>Garbage</li>
            <li>That</li>
            <li>Needs</li>
            <li>To</li>
            <li>Be</li>
            <li>Filled</li>
          </ul>
        </div>
        <div class='links'>
          <h3>Links</h3>
          <ul>
            <li><a href='#'>1</a></li>
            <li><a href='#'>2</a></li>
            <li><a href='#'>3</a></li>
          </ul>
        </div>
    </div>
  </div>

  <!-- Load scripts!! -->
  <script type='text/javascript' charset='utf-8' src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'></script>
  <script type='text/javascript' charset='utf-8' src='https://raw.github.com/maccman/spine/master/spine.js'></script>
  <script type='text/javascript' charset='utf-8' src='https://raw.github.com/maccman/spine/master/lib/spine.manager.js'></script>
  <script type='text/javascript' charset='utf-8' src='https://raw.github.com/maccman/spine/master/lib/spine.tabs.js'></script>
  <script type='text/javascript' charset='utf-8' src='tabs.js'></script>
  </body>
</html>
